.about-us-list {
  display: flex;
  flex-direction: column;
  row-gap: 34px;
  justify-content: center;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.about-us-list__item {
  @media (min-width: $desktop-width) {
    max-width: 330px;
  }
}

.about-us-list__container {
  display: flex;
  width: 80px;
  height: 69px;
  margin: 0 auto 14px;
  border: 2px solid $border-nums-color;
  border-radius: 5px;
  background-color: $base-background-black;
  box-shadow: 0 0 10px $border-nums-color;
}

.about-us-list__quantity {
  font-size: 24px;
  font-weight: 700;
  color: $nums-color;
  margin: auto;
}

.about-us-list__text {
  font-size: 15.5px;
  line-height: 19px;
  max-width: 78%;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    max-width: 100%;
    font-size: 18px;
  }

  &--city {
    max-width: 72%;

    @media (min-width: $desktop-width) {
      max-width: 79%;
    }
  }
}
