.about-us {
  padding: 45px 0;
  text-align: center;

  @media (min-width: $desktop-width) {
    padding: 77px 0 28px;
  }
}

.about-us__container {
  display: flex;
  flex-direction: column;
  row-gap: 35px;

  @media (min-width: $desktop-width) {
    row-gap: 80px;
  }

  @media (min-width: 1440px) {
    max-width: 1300px;
    margin: 0 auto;
  }
}
