.about-us-list {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  justify-content: center;
}

.about-us-list__container {
  display: flex;
  width: 80px;
  height: 70px;
  margin: 0 auto 15px;
  border: 2px solid $border-nums-color;
  border-radius: 5px;
  background-color: $base-background-black;
  box-shadow: 0 0 10px $border-nums-color;
}

.about-us-list__quantity {
  font-size: 24px;
  font-weight: 700;
  color: $nums-color;
  margin: auto;
}

.about-us-list__text {
  font-size: 16px;
  max-width: 78%;
  margin: 0 auto;

  &--city {
    max-width: 72%;
  }
}
