.career-carousel__item {
  position: relative;
  display: none;
  text-align: center;

  &--current {
    display: block;
  }

  &::after {
    content: "";
    position: absolute;
    top: 228px;
    left: 0;
    right: 0;
    margin: auto;
    width: 240px;
    height: 13px;
    background: url(../image/line.svg) no-repeat;
  }
  &::before {
    content: "";
    position: absolute;
    top: -112px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 118px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 -21px 110px 0 #7fce84;
  }
}

.career-carousel__image {
  position: relative;
  z-index: 2;
  display: block;
  margin: 0 auto;
}

.career-carousel__name {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.career-carousel__position {
  margin: 0 auto 15px;
}
