.conditions-list {
  display: none;
  font-size: 12px;
  font-weight: 700;
  width: 86%;

  &--open {
    display: block;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    width: 100%;
  }
}

.conditions-list__name {
  margin: 10px 0;
}

.conditions-list__description {
  position: relative;
  margin: 0;
  padding-left: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 10px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $background-white;
  }
}
