.controls {
  width: 100%;
  padding: 0;
  display: flex;
}

.controls__button-prev,
.controls__button-forward {
  width: 130px;
  height: 147px;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  position: relative;

  &--career {
    background-color: transparent;
  }
}

.controls__button-prev {
  background: linear-gradient(to left, $title-color, $background-white);
  margin-right: auto;
  left: -50px;

  &--career {
    background: transparent;
  }
}

.controls__button-forward {
  background: linear-gradient(to left, $background-white, $title-color);
  margin-left: auto;
  right: -50px;

  &--career {
    background: transparent;
  }
}
