.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.contacts-list__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contacts-list__address {
  font-style: normal;
}

.contacts-list__link,
.contacts-list__location {
  font-size: 12px;
  letter-spacing: 0.35px;
}

.contacts-list__icon-box {
  position: relative;
  top: 1px;
  left: 2px;
  display: block;
  min-width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid $nums-color;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-size: contain;
  }

  &--phone::before {
    background: url("../image/icon-footer-phone.svg") no-repeat;
    width: 18px;
    height: 14px;
  }

  &--email::before {
    background: url("../image/icon-footer-email.svg") no-repeat;
    width: 18px;
    height: 14px;
    left: -2px;
  }

  &--location::before {
    background: url("../image/icon-footer-location.svg") no-repeat;
    width: 20px;
    height: 18px;
    left: -2px;
  }
}

.contacts-list__location {
  margin: 0;
  line-height: 26px;
  letter-spacing: normal;
}
