.copyright {
  padding: 41px 0 51px;
  text-align: center;
}

.copyright__container {
  display: flex;
  flex-direction: column;
  width: 259px;
  margin: 0 auto;
}

.copyright__text {
  font-weight: 700;
}

.copyright__politics {
  font-size: 12px;
  margin-bottom: 15px;
}
