@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/GothamProRegular.woff2") format("woff2"),
    url("../fonts/GothamProRegular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/GothamProBold.woff2") format("woff2"),
    url("../fonts/GothamProBold.woff") format("woff");
  font-display: swap;
}
