.nav-bar__wrapper {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 270px;
  display: flex;
  flex-direction: column;
  gap: 40px 10px;
  height: 100vh;
  background-color: $background-color;

  @media (min-width: $desktop-width) {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    background-color: transparent;
  }
}

.nav-bar__site-list {
  margin: 40px 0 0;

  @media (min-width: $desktop-width) {
    margin-top: 40px;
  }
}

.nav-bar__toggle {
  width: 36px;
  height: 36px;
  border: none;
  background-color: transparent;
  padding: 0;

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 20px;
    width: 20px;
    height: 3px;
    border-radius: 2px;
    background-color: $base-text-color;
    box-shadow: 0 5px 0 0 $base-text-color, 0 10px 0 0 $base-text-color;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.nav-bar__wrapper-button {
  background-color: $nums-color;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.nav-bar--opened .nav-bar__wrapper {
  display: flex;
}

.nav-bar--opened .nav-bar__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 16px;
    width: 24px;
    height: 3px;
    border-radius: 2px;
    background-color: $base-text-color;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.nav-bar--nojs .nav-bar__toggle {
  display: none;
}

.nav-bar--closed .nav-bar__wrapper {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.nav-bar--nojs .nav-bar__wrapper {
  display: flex;
}
