.phones-list {
  @media (min-width: $desktop-width) {
    justify-self: right;
  }
}

.phones-list__item {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3px;
  }
}

.phones-list__city {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    font-size: 12px;
    color: #979799;
    margin-left: auto;
  }
}

.phones-list__address {
  font-style: normal;
}

.phones-list__link {
  font-size: 9px;
  font-weight: 700;

  @media (min-width: $desktop-width) {
    font-size: 12px;
  }
}
