.promo {
  position: relative;
  text-align: center;
  padding: 272px 0 45px 0;
  background: url("../image/header-background.jpg") no-repeat;
  background-position: 75% 47%;
  background-size: cover;
  filter: drop-shadow(0 5px 3px rgba($background-white, 0.2));

  @media (min-width: $desktop-width) {
    padding: 340px 0 105px;
    background-size: cover;
    background-position: 77% 62%;
    filter: none;
  }
}

.promo__title {
  font-size: 29.5px;
  color: $base-text-color;
  margin-bottom: 22px;

  @media (min-width: $desktop-width) {
    font-size: 64px;
  }
}

.promo__slogan {
  font-size: 17.5px;
  font-weight: 700;
  margin-bottom: 35px;

  @media (min-width: $desktop-width) {
    font-size: 28px;
    margin-bottom: 45px;
  }
}
