.site-list {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 33px;
    max-width: 204px;
    margin: 0 auto;
  }
}

.site-list__link {
  @media (min-width: $desktop-width) {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
  }
}
