.swiper-pagination {
  display: flex;
  gap: 9px;
}

.swiper-pagination__bullet {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $color-bullet;

  &--current {
    width: 42.6px;
    background-color: $background-white;
    border-radius: 25px;
  }
}
