.title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.6px;
  text-transform: uppercase;
  color: $title-color;
  text-align: center;
  margin: 0;

  @media (min-width: $desktop-width) {
    font-size: 28px;
  }
}
