.vacancy-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.vacancy-list__item {
  display: grid;
  grid-template-columns: 1fr 25px;
  align-items: start;
  padding: 27px;
  border: 3px solid $title-color;
  border-radius: 30px;

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 45px;
  }
}

.vacancy-list__box {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $desktop-width) {
    gap: 25px;
  }
}

.vacancy-list__container {
  display: grid;
  grid-template-columns: 25px 1fr;
  align-items: center;
  gap: 10px;

  @media (min-width: $desktop-width) {
    grid-template-columns: 45px 1fr;
  }
}

.vacancy-list__icon-box {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  background-color: $background-white;
  border-radius: 50%;

  &--vacancy::before,
  &--price::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 15px;
    height: 15px;
  }

  &--vacancy::before {
    background: url("../image/icon-info-vacancy.svg") no-repeat;
  }

  &--price::before {
    background: url("../image/icon-info-price.svg") no-repeat;
  }

  @media (min-width: $desktop-width) {
    width: 40px;
    height: 40px;

    &--vacancy::before,
    &--price::before {
      width: 24px;
      height: 24px;
      background-size: cover;
    }
  }
}

.vacancy-list__name {
  font-size: 18px;
  font-weight: 700;
  margin: 0;

  @media (min-width: $desktop-width) {
    font-size: 28px;
  }
}

.vacancy-list__salary {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.8px;
  text-transform: uppercase;
  color: $nums-color;
  margin: 0;

  &--discussion {
    text-transform: none;
    letter-spacing: normal;
  }

  @media (min-width: $desktop-width) {
    font-size: 28px;
  }
}

.vacancy-list__button {
  position: relative;
  top: 22px;
}

.vacancy-list__item:nth-of-type(2) .vacancy-list__button,
.vacancy-list__item:nth-of-type(3) .vacancy-list__button {
  top: 31px;
}
