// Colors
$background-black: #212121;
$background-grey: #323232;
$background-photo: #d9d9d9;
$base-background-black: rgba(0, 0, 0, 0.7);
$background-white: #ffffff;
$background-color: #111311;
$background-color-button: #dd3037;
$base-text-color: #ffffff;
$title-color: #999999;
$nums-color: #21a038;
$border-nums-color: #b6ffba;
$color-bullet: #888888;

// Viewports

$desktop-width: 992px;
$mobile-width-only: 360px;
